#.gitignore
/WellnessProgram/WellnessProgram/configuration
/WellnessProgram/WellnessProgram/gen
/WellnessProgram/WellnessProgram/META-INF
/WellnessProgram/WellnessProgram/target
/WellnessProgram/WellnessProgram/index
/WellnessProgram/WellnessProgram/generatedresources
/WellnessProgram/WellnessProgram/runapp.log


